@media screen and (max-width: 768px) {
  .blogapp-header {
    flex-direction: column;
    .left,
    .right {
      width: 100%;
    }
  }
  .blogapp-header .header-btns button {
    padding: 6px 4px;
    width: 110px;
    font-size: 12px;
    margin: 0 5px !important;
  }
  .blogapp-header .header-btns .ri-star-fill {
    margin-left: 0 !important;
  }
  main .scrollable-content {
    display: none;
  }
}
